################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/src/.vs/tipitipapp.slnx/FileContentIndex
/src/tipitipapp.application/bin/Debug/net9.0
/src/tipitipapp.application/obj
/src/tipitipapp.domain/bin/Debug/net9.0
/src/tipitipapp.domain/obj
/src/tipitipapp.infrastructure/bin/Debug/net9.0
/src/tipitipapp.infrastructure/obj
